
      body{
        background-color: #000;
	transition:background-color linear 5s;
	overflow-x:hidden;
      }
      .maincontainer {
        position: relative;
        height: 260px;
        width: 230px;
        /* background: green; */
      }

      .nature{
        background-image: url("birthday.jpg");
        background-size: cover;
      }

      .thecard {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        /* background: yellow; */
      }

      #thecard1:hover {
        transform: rotateY(180deg);
      }
      #thecard2:hover {
        transform: rotateY(0deg);
      }
      #thecard3:hover {
        transform: rotateY(0deg);
      }
      #thecard4:hover {
        transform: rotateY(0deg);
      }
      #thecard5:hover {
        transform: rotateY(0deg);
      }
      #thecard6:hover {
        transform: rotateY(0deg);
      }
      #thecard7:hover {
        transform: rotateY(0deg);
      }
      #thecard8:hover {
        transform: rotateY(0deg);
      }
      #thecard9:hover {
        transform: rotateY(0deg);
      }
      #thecard10:hover {
        transform: rotateY(0deg);
      }
      
      .thefront {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #FBEAEB;
        color: #333;
        text-align: center;
        border-radius: 20px;
        font-size: 18px;
        font-weight: bold;
        border:2px solid #2F3C7E;
        opacity: 0.5;
      }
      .theback {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #5fcf80;
        color: #fff;
        transform: rotateY(180deg);
        text-align: center;
        border-radius: 20px;
        font-size: 18px;
        font-weight: bold;
        border:2px solid #2F3C7E;
      }
      
      
      img {
        width: 100%;
        height: 100%;
        border-radius:20px;
        
    }
    video {
      width: 100%;
      height: 100%;
      border-radius:20px;
  }
    

    .thecard .btn{
      position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding:5px 5px;

    }

    .thecard .btn:hover{
      border:2px solid #CBDCCB
    }
    

    
.bulb {
	width: 50px;
	height: 50px;
	margin: auto;
	background-repeat: no-repeat no-repeat;
	background-position:center 0px;
	background-size: 50px 50px;
}

.bulb-holder {
	height: 70px;
}

.bulb-glow-yellow {
	background-image: url('bulb_yellow.png');
	animation: bulb_glow_yellow linear 5s;
}

@keyframes bulb_glow_yellow {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_yellow.png');
		opacity: 1;
	}
}

.bulb-glow-red {
	background-image: url('bulb_red.png');
	-webkit-animation: bulb_glow_red linear 5s;
	-moz-animation: bulb_glow_red linear 5s;
	-o-animation: bulb_glow_red linear 5s;
	-ms-animation: bulb_glow_red linear 5s;
	animation: bulb_glow_red linear 5s;
}


@keyframes bulb_glow_red {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_red.png');
		opacity: 1;
	}
}
.bulb-glow-blue {
	background-image: url('bulb_blue.png');
	animation: bulb_glow_blue linear 5s;
}

@keyframes bulb_glow_blue {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_blue.png');
		opacity: 1;
	}
}

.bulb-glow-green {
	background-image: url('bulb_green.png');
	animation: bulb_glow_green linear 5s;
}

@keyframes bulb_glow_green {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_green.png');
		opacity: 1;
	}
}

.bulb-glow-pink {
	background-image: url('bulb_pink.png');
	animation: bulb_glow_pink linear 5s;
}

@keyframes bulb_glow_pink {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_pink.png');
		opacity: 1;
	}
}

.bulb-glow-orange {
	background-image: url('bulb_orange.png');
	animation: bulb_glow_orange linear 5s;
}

@keyframes bulb_glow_orange {
	0%{
		background-image: url('bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('bulb_orange.png');
		opacity: 1;
	}
}

/*after music*/
.bulb-glow-yellow-after {
	background-image: url('bulb_yellow.png');
	animation: bulb_glow_yellow_after linear 1s infinite;
}

@keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_yellow.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}

.bulb-glow-red-after {
	background-image: url('bulb_red.png');
	animation: bulb_glow_red_after linear 1.2s infinite;
}

@keyframes bulb_glow_red_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_red.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}

.bulb-glow-blue-after {
	background-image: url('bulb_blue.png');
	animation: bulb_glow_blue_after linear 1.4s infinite;
}

@keyframes bulb_glow_blue_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_blue.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}
.bulb-glow-green-after {
	background-image: url('bulb_green.png');
	animation: bulb_glow_green_after linear 1.8s infinite;
}

@keyframes bulb_glow_green_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_green.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}
.bulb-glow-pink-after {
	background-image: url('bulb_pink.png');
	animation: bulb_glow_pink_after linear 2s infinite;
}

@keyframes bulb_glow_pink_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_pink.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}
.bulb-glow-orange-after {
	background-image: url('bulb_orange.png');
	animation: bulb_glow_orange_after linear 2.2s infinite;
}

@keyframes bulb_glow_orange_after {
	0%{
		background-image: url('bulb.png');
	}
	50%{
		background-image: url('bulb_orange.png');
	}
	100%{
		background-image: url('bulb.png');
	}
}